<%- include('./partials/head') %>
<%- include('./partials/sidebar') %>

<section class="overview">
        <h1>Overview</h1>
    
        <h2>Teams</h2>
        <% teams.forEach(function(team) { %>
            <a href="/team/<%= team.slug %>" class="team-link">
             <h3><%= team.name %></h3> 
            </a>
        <% }); %>
        <h2>Employees</h2>
            <div class="card-grid">
                <% employees.forEach(function(employee) { %>
                    <article class="card">
                    <picture>
                        <img src="<%= employee.avatar.url %>" alt="employee avatar" loading="lazy">
                    </picture>
                    <div class="text-content">
                    <p><%= employee.name %></p> 
                    <p class="role"><%= employee.role %></p> 
                    <p class="role">Team <%= employee.team.name %></p> 
                    </div>
                    </article>
           
               <% }); %>
            </div>
            <h2>Projects</h2>
            <div class="card-grid">
                <% projects.forEach(function(project) { %>
                    <article class="card">
                        <%= project.name %>
                    <div class="text-content">
                    <p class="role"><%= project.description %></p> 
                    <p class="role">Team <%= project.team.employees.name %></p>
                    </div>
                    </article>
           
               <% }); %>
            </div>
    </section>

<%- include('./partials/foot') %>